.btn {
  width: 100px;
  height: 36px;
  border-radius: 6px;
  font-size: 1.7rem !important;
  line-height: 1.53rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600 !important;
  background-color: #e7292b;
}

* {
  box-sizing: inherit;
  font-family: Poppins;
}

html {
  line-height: 1.8rem;
  font-size: 1.4rem;
  font-size: 62.5%;
  box-sizing: border-box;
  background-color: white;
}

.wraper {
  max-width: 1440px;
  margin: 0 auto;
}

.my--container {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

.navbar__wrap {
  padding: 0px 135px;
}

.navbar__wrap--list {
  height: 100px;
  margin-bottom: 0px;
  list-style: none;
  padding-left: 0px;
  display: flex;
  align-items: center;
}

.navbar__wrap--item:nth-child(1) {
  display: none;
}
.navbar__wrap--item:nth-child(2) {
  margin-right: 33px;
}
.navbar__wrap--item:nth-child(4) {
  margin-left: 33px;
}
.navbar__wrap--item:nth-child(5) {
  margin-left: auto;
}

.navbar__wrap--item--link {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 5px 10px;
}
.navbar__wrap--item--link:hover, .navbar__wrap--item--link:focus {
  text-decoration: none;
  color: #000;
}

.navbar__wrap--item--menu {
  display: flex;
}

.navbar__wrap--item--language {
  display: flex;
  align-items: center;
  width: 100px;
  height: 36px;
  border-radius: 6px;
  padding: 0px 16px;
  border: solid 1px #dddddd;
  background-color: #f8f8fa;
  cursor: pointer;
}
.navbar__wrap--item--language .navbar__wrap--item--language--text {
  margin-left: 7px;
  font-weight: 600;
}

.navbar__wrap--item:last-child {
  margin-left: 16px;
}

.banner__wrap {
  padding: 0px 37px;
}

.banner {
  background-image: url("../img/banner-hero2.png");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 12px;
}

.banner__ellipse {
  display: flex;
}

.banner__ellipse--item {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #000;
  cursor: pointer;
}
.banner__ellipse--item i {
  font-size: 3rem;
  color: #fff;
}

.banner__ellipse--item:first-child {
  left: 57px;
}

.banner__ellipse--item:last-child {
  right: 57px;
}

.banner__content {
  position: absolute;
  width: 570px;
  top: 75px;
  left: 139px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  font-size: 2.4rem;
  color: #fff;
}

.banner__content--item:nth-child(1) {
  margin-bottom: 5px;
  color: #e7292b;
  letter-spacing: -0.24px;
}
.banner__content--item:nth-child(2) {
  font-size: 72px;
  line-height: 7rem;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}
.banner__content--item:nth-child(3) {
  text-transform: uppercase;
}
.banner__content--item:nth-child(5) {
  margin-top: 16px;
  height: 40px;
  width: 200px;
}

.banner__placeholder {
  background-image: linear-gradient(to right, purple, pink);
  width: 100%;
  background-size: cover;
  height: 100%;
  height: 120px;
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  top: 440px;
  border-radius: 12px;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  padding: 0 55px 0 32px;
  text-transform: uppercase;
  box-shadow: 0px 0px 14px 8px rgba(0, 0, 0, 0.3);
}

.banner__placeholder--content--item:nth-child(2) {
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 4.4rem;
}

.banner__placeholder--time--wrap {
  margin-left: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner__placeholder--time {
  display: flex;
  margin-left: auto;
}

.banner__placeholder--time--item:nth-child(1) {
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 4.4rem;
}

.header__img {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 30px;
  margin: 0 auto;
  margin-top: 110px;
  overflow-y: scroll;
  max-width: 1170px;
}
.header__img::-webkit-scrollbar {
  display: none;
}

.header__top {
  height: 517px;
  background-color: #f8f8fa;
  margin-top: 77px;
  margin-bottom: 55px;
}

.header__title {
  display: flex;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: bold;
}
.header__title .header__title--text {
  margin-top: 20px;
}
.header__title .header__title--text:nth-child(2) {
  color: #e7292b;
}

.header__description {
  font-size: 2.2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  padding: 0px 37px;
  margin-top: 5px;
  height: 135px;
}

.header__contact {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 30px;
  margin-top: 18px;
}

.header__contact--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
}

.header__contact--item--icon {
  font-size: 6rem;
  color: #e7292b;
}

.header__contact--item--text {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -0.09px;
  color: #333333;
  margin-top: 10px;
}
.header__contact--item--text:nth-child(3) {
  font-weight: 400;
  text-align: center;
  margin-top: 0px;
}

.header__speaker {
  padding: 0px 135px;
}

.header__speaker--title {
  height: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__speaker--title--item {
  font-size: 3.6rem;
  font-weight: bold;
}
.header__speaker--title--item:nth-child(2) {
  font-weight: 400;
  font-size: 2.2rem;
}

.header__speaker--img {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 30px;
  margin-top: 15px;
}

.header__speaker--img--item {
  width: 100%;
  height: 510px;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
}
.header__speaker--img--item img {
  width: 100%;
}

.header__speaker--img--item--text--wrap {
  margin: 0px 33px 0px 27px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
}

.header__speaker--img--item--text:nth-child(1) {
  font-size: 2.4rem;
  font-weight: 600;
  margin-top: 18px;
}
.header__speaker--img--item--text:nth-child(2) {
  height: 37px;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #8893aa;
}
.header__speaker--img--item--text:nth-child(3) {
  height: 143px;
  font-size: 1.6rem;
}

.header__more {
  width: 170px;
  height: 40px;
  border: 1px solid #e7292b;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 40px;
  font-size: 1.5rem;
  font-weight: 600;
  color: #e7292b;
  cursor: pointer;
}

.calendar {
  height: 765px;
  background-color: #0b0434;
  color: #fff;
  padding: 74px 135px;
  margin-top: 75px;
}

.calendar__title--text {
  font-size: 3.8rem;
  text-align: center;
  font-weight: bold;
}
.calendar__title--text:nth-child(1) {
  padding-top: 74px;
}
.calendar__title--text:nth-child(2) {
  font-weight: normal;
  font-size: 2.4rem;
}

.calendar__day {
  display: flex;
  list-style: none;
  font-size: 2.4rem;
  padding-left: 0px;
  margin-top: 30px;
}

.calendar__day--item {
  padding-right: 200px;
  text-align: center;
}
.calendar__day--item:last-child {
  padding-right: auto;
}

.calendar__detail {
  list-style: none;
  padding-left: 0px;
  font-size: 1.8rem;
}

.calendar__detail--list {
  display: flex;
  width: 100%;
  padding: 15px 0px;
  border-bottom: 1px solid #ffffff;
  justify-content: space-between;
}
.calendar__detail--list:nth-child(1) {
  border-top: 1px solid #e7292b;
}

.calendar__detail-item:nth-child(3) {
  width: 170px;
  height: 40px;
}

.brand {
  margin-top: 58px;
  font-size: 36px;
}

.brand__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.brand__title--text:nth-child(2) {
  text-align: center;
}

.brand__title--text:last-child:first-child {
  font-weight: bold;
}

.brand__title--text:last-child {
  font-size: 22px;
}

.brand__img--wrap {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 30px;
  row-gap: 20px;
  margin-top: 30px;
}

.brand__img--wrap--img {
  width: 100%;
}

.brand__img--main {
  margin-top: 80px;
}

.footer__wrap {
  background-color: #222222;
  margin-top: 62px;
  padding: 0px 37px;
  padding-bottom: 42px;
}

.footer__wrap--detail {
  display: grid;
  grid-template-columns: 270px 270px auto;
  grid-row: auto auto auto;
  column-gap: 30px;
}

.footer__wrap--detail--list--title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  margin-top: 41px;
  position: relative;
}
.footer__wrap--detail--list--title::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100px;
  top: 35px;
  left: 0px;
  background-color: red;
}

.footer__wrap--detail--list--menu {
  padding-left: 0px;
  list-style: none;
  font-size: 1.4rem;
  margin-top: 30px;
}

.footer__wrap--detail--list--menu--item--link {
  display: block;
  padding: 5px 0px;
  color: #999999;
}
.footer__wrap--detail--list--menu--item--link:hover {
  color: #999999;
  text-decoration: none;
}

.footer__wrap--detail--list--input {
  height: 40px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-top: 30px;
}
.footer__wrap--detail--list--input:last-child {
  margin-top: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  background-color: #222222;
  color: #fff;
  border: 1px solid #fff;
  font-weight: bold;
}

.footer__bottom {
  padding: 0px 37px;
  overflow-y: hidden;
}

.footer__bottom--text {
  color: #fff;
}

.footer__wrap--detail--list--input-- {
  width: 100%;
  margin-left: 15px;
  border: 0px solid #fff;
}
.footer__wrap--detail--list--input--:focus {
  outline: none;
}

.footer__bottom {
  width: 100%;
  height: 80px;
  background-color: #111111;
}

.footer__bottom--wrap {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
}

.footer__bottom--list {
  padding-left: 0px;
  list-style: none;
  display: flex;
  margin-bottom: 0px;
  justify-content: space-between;
}

.footer__bottom--item--link {
  padding: 5px 10px;
  color: #fff;
}
.footer__bottom--item--link:hover {
  color: #fff;
  text-decoration: none;
}

.brand__img--main--img {
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
