$white--color: #fff;

@media only screen and (max-width: 1200px) {
    .navbar__wrap--item:nth-child(3) {
        margin-left: 350px;
    }

    .navbar__wrap--item:nth-child(4) {
        margin-left: -10px;
    }

    .navbar__wrap {
        padding: 0px 37px;
    }

    .hide--on--min--lap {
        display: none;
    }

    .banner__placeholder {
        display: none;
    }

    .header__contact {
        padding: 37px;
    }

    .header__speaker {
        padding: 0px 37px;
    }

    .footer__wrap--detail {
        grid-template-columns: 200px 200px auto;
    }

    .navbar__wrap--list {
        padding-left: 0px !important;
    }
}

@media only screen and (max-width: 1023px) {
    .navbar__wrap--item--menu {
        position: fixed;
        top: 0px;
        bottom: 0px;
        width: 300px;
        left: 0px;
        z-index: 2;
        transform: translateX(-300px);
        background-color: $white--color;
        display: block !important;
    }

    .navbar__wrap--item--menu {
        padding-top: 50px;
        padding-left: 30px;
    }

    .hide--on--mins--lap {
        display: none;
    }

    .navbar__wrap--item--menu--list {
        padding: 15px 20px;
    }

    .navbar__wrap--item--icon {
        font-size: 3rem;
    }

    .navbar__wrap--item:nth-child(1) {
        display: block;
    }

    .banner__placeholder--content {
        display: none;
    }

    .header__description,
    .header__title {
        padding: 0px 37px;
    }

    .calendar__title--text {
        padding-top: 0px;
    }

    .calendar {
        height: 800px;
        padding: 74px 35px;
    }

    .calendar__day--item {
        padding-right: 50px;
    }
    
    .calendar__title--text {
        padding-top: 0px !important;
    }
    
}

@media only screen and (max-width: 994px) {
    .banner__placeholder {
        display: none;
    }
    .header__contact {
        grid-template-columns: auto auto;
        row-gap: 30px;
        margin-top: 50px;
    }
    .header__speaker {
        margin-top: 220px;
    }
    .header__title--text {
        font-size: 2.6rem;
        margin-bottom: 20px;
    }
    .header__speaker--img--item {
        height: 610px;
    }
}

@media only screen and (max-width: 768px) {
    .banner__content--item {
        &:nth-child(1) {
            font-size: 1.4rem;
        }
        
        &:nth-child(2) {
            line-height: 5rem;
            font-size: 4.2rem;
        }

        &:nth-child(3) {
            font-size: 1.4rem;
        }

        &:nth-child(4) {
            font-size: 1.4rem;
        }

    }
    .banner__content {
        width: 300px;
        left: 20px;
    }

    .banner__ellipse--item {
        display: none;
    }

    .header__speaker--title--item:nth-child(2) {
        margin-bottom: 50px;
    }

    .header__speaker--img {
        grid-template-columns: auto;
        margin-top: 30px;
        row-gap: 30px;
    }

    .brand__img--wrap {
        grid-template-columns: repeat(4,1fr);
    }

    .footer__wrap--detail {
        grid-template-columns: auto auto;
    }

    .footer__wrap--detail--list:last-child {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .footer__bottom--list {
        display: none;
    }

    .header__speaker--title--item {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 599px) {
    .header__contact {
        margin-top: 70px;
    }

    .header__speaker {
        margin-top: 320px;
    }
}

@media only screen and (max-width: 599px) {
    .header__contact {
        display: none;
    }

    .my--container {
        display: none;
    }
    .header__speaker {
        margin-top: 20px;
    }

    .header__top {
        display: none;
    }

    .header__speaker--title--item:last-child {
        display: none;
    }

    .banner {
        height: 400px;
    }
    
    .header__speaker--img--item {
        height: 510px;
    }
    
}

@media only screen and (max-width: 427px) {
    .calendar {
        height: 1090px;
    }
}

